<h1>Articles</h1>

<a href="/articles/new">Click here to add a new article!</a>

<ul>
  {{#each articles}}
  <div>
    <li>Title: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li><a href={{this.url}} target="_blank" rel="noopener noreferrer">{{this.url}}</a></li>
  </div>
  <br>
  {{/each}}
</ul>